In [1]:
%pip install -U pip >/dev/null 2>/dev/null
%pip install -r requirements.txt >/dev/null 2>/dev/null

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

Import `pandas` and some helper functions.

In [2]:
import pandas as pd

from itertools import combinations
from krippendorff import alpha

Load the raw point ratings from the TSV file (you can download the latest from the [Google Sheet](https://docs.google.com/spreadsheets/d/1vc_LhpHgfO3w-UpSyGYtex0r6f1CrAdHQZFAHJRU_g4/edit?usp=sharing), but you may have to munge the columns/rows if anything has moved around).

In [3]:
raw_df = pd.read_table('EDH Point System - Sheet1.tsv')

We'll explicitly list the columns to extract from the raw `pd.DataFrame`:

In [4]:
raters = [
    'Joe',
    'Connor',
    'Ryan',
    'Artemiy',
    'RJ',
    'Albert',
    'Mike',
    'Zach'
]

We'll extract the specific columns/rows for the raters/point vlaues and coerce the non-numeric data to `NaN` so we can ignore it:

In [5]:
header = slice(4, None) # skip first 4 rows in the DataFrame
df = raw_df[raters].loc[header].apply(pd.to_numeric, errors="coerce")
df

     Joe  Connor  Ryan  Artemiy    RJ  Albert  Mike  Zach
4    NaN    10.0   NaN     10.0  10.0    10.0   9.0   3.0
5    NaN    10.0   NaN     10.0  10.0    10.0   9.0   0.0
6    NaN    10.0   NaN      6.0   0.0    10.0   5.0   3.0
7    4.0     5.0   4.0      5.0   4.0     5.0   4.0   5.0
8    4.0     5.0   4.0      5.0   4.0     5.0   4.0   5.0
..   ...     ...   ...      ...   ...     ...   ...   ...
101  0.0     0.0   1.0      0.0   0.0     0.0   2.0   0.0
102  0.0     1.0   1.0      0.0   1.0     0.0   0.0   0.0
103  0.0     1.0   1.0      0.0   0.0     0.0   1.0   0.0
104  0.0     0.0   0.0      0.0   0.0     1.0   0.0   1.0
105  0.0     0.0   0.0      0.0   1.0     0.0   1.0   0.0

[102 rows x 8 columns]

In [6]:
observed_scales = {rater: (min(df[rater][df[rater].notnull()]), max(df[rater][df[rater].notnull()])) for rater in df}
observed_scales

{'Joe': (0.0, 4.0),
 'Connor': (0.0, 10.0),
 'Ryan': (0.0, 4.0),
 'Artemiy': (0.0, 10.0),
 'RJ': (0.0, 10.0),
 'Albert': (0.0, 10.0),
 'Mike': (0.0, 9.0),
 'Zach': (0.0, 10.0)}

Since not all raters used consistent scales, we'll rescale everything to be on a $[0...10]$ scale:

In [7]:
import numpy as np

# rescale using numpy.interp
for rater in df:
    values = df[rater][df[rater].notnull()]
    df[rater] = np.interp(df[rater], (min(values), max(values)), (0, 10))

df

      Joe  Connor  Ryan  Artemiy    RJ  Albert       Mike  Zach
4     NaN    10.0   NaN     10.0  10.0    10.0  10.000000   3.0
5     NaN    10.0   NaN     10.0  10.0    10.0  10.000000   0.0
6     NaN    10.0   NaN      6.0   0.0    10.0   5.555556   3.0
7    10.0     5.0  10.0      5.0   4.0     5.0   4.444444   5.0
8    10.0     5.0  10.0      5.0   4.0     5.0   4.444444   5.0
..    ...     ...   ...      ...   ...     ...        ...   ...
101   0.0     0.0   2.5      0.0   0.0     0.0   2.222222   0.0
102   0.0     1.0   2.5      0.0   1.0     0.0   0.000000   0.0
103   0.0     1.0   2.5      0.0   0.0     0.0   1.111111   0.0
104   0.0     0.0   0.0      0.0   0.0     1.0   0.000000   1.0
105   0.0     0.0   0.0      0.0   1.0     0.0   1.111111   0.0

[102 rows x 8 columns]

Now we'll compute [Krippendorff's $\alpha$](https://en.wikipedia.org/wiki/Krippendorff%27s_alpha), a statistical measure of inter-rater reliability.  First we'll compute the $\alpha$ score over the whole dataset:

In [8]:
alpha(reliability_data=df.T, level_of_measurement='ordinal')

0.2513803336004641

$\sim0.3$ isn't great.  $\alpha$ scores range from $\left[-1 ... 1\right]$, with a score of $0.0$ indicating the ratings were assigned no better than random chance (as if raters were choosing ratings by rolling fair dice).  $\alpha$ scores $\lt\sim0.8$ are considered unreliable or are not in high agreement.

Next we'll compute pairwise $\alpha$ scores to see which pairs of raters agreed best and worst:

In [9]:
def pairwise_alphas(df, raters=raters):
    """A function to compute pair-wise alpha scores for each pair of raters
    
    df: a pd.DataFrame whose columns correspond to the raters
    raters: an iterable of raters that correspond to columns in df
    """
    pairs = [list(pair) for pair in combinations(raters, 2)]
    alphas = {"rater1": [], "rater2": [], "alpha": []}
    for pair in pairs:
        rater1, rater2 = pair
        alphas["rater1"].append(rater1)
        alphas["rater2"].append(rater2)
        alphas["alpha"].append(alpha(reliability_data=df[pair].T, level_of_measurement='ordinal'))
    return pd.DataFrame(alphas)

In [10]:
pairwise_alphas(df).sort_values(by='alpha', ascending=False)

     rater1   rater2     alpha
8    Connor  Artemiy  0.667724
22       RJ   Albert  0.479231
20  Artemiy     Mike  0.470920
26   Albert     Zach  0.444865
7    Connor     Ryan  0.433272
11   Connor     Mike  0.395985
2       Joe  Artemiy  0.385739
25   Albert     Mike  0.340226
13     Ryan  Artemiy  0.335872
19  Artemiy   Albert  0.308314
0       Joe   Connor  0.279658
16     Ryan     Mike  0.273198
1       Joe     Ryan  0.267476
15     Ryan   Albert  0.228702
27     Mike     Zach  0.186627
24       RJ     Zach  0.173472
10   Connor   Albert  0.153080
21  Artemiy     Zach  0.139243
5       Joe     Mike  0.138913
14     Ryan       RJ  0.132198
23       RJ     Mike  0.121793
18  Artemiy       RJ  0.104795
6       Joe     Zach  0.067565
4       Joe   Albert  0.061092
17     Ryan     Zach  0.024652
9    Connor       RJ -0.052257
12   Connor     Zach -0.095641
3       Joe       RJ -0.109902

As we can see, Connor and Artemiy agreed best and are in high agreement, while Joe and RJ agreed worst.  (In fact, Joe and RJâ€”as well as a couple other pairsâ€”had a negative score, indicating they _disagreed_ slightly better than chance!)